<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width; initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
    <form method="POST">
        <div class="field">
          <label class="label">Title</label>
          <p class="control">
            <input name="subtitle" name="title" class="input" type="text" placeholder="Text input">
          </p>
        </div>

        <div class="field">
          <label class="label">Subtitle</label>
          <p class="control">
            <input name="subtitle" class="input" type="text" placeholder="Text input">
          </p>
        </div>

        <button type="submit" class="buttion is-primary">Add Note</button>

    </form>
</body>

</html>