<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
  <div class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
    </div>
  </div>
</body>

</html>