<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width; initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
  <div class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <% for(var i=0; i<results.length; i++) { %>
          <div class="title">
            <%= results[i].title %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</body>

</html>