<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="box">
                    <form method="post">
                        <div class="field">
                            <label class="label">Email</label>
                            <p class="control has-icon has-icon-right">
                                <input class="input" type="text" placeholder="Email input" name="email">
                                <span class="icon is-small">
                                    <i class="fa fa-mail"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <p class="control has-icon has-icon-right">
                                <input class="input" type="password" placeholder="Password" name="password">
                                <span class="icon is-small">
                                    <i class="fa fa-check"></i>
                                </span>
                            </p>
                        </div>

                        <div>
                            <input class="button is-primary" type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>