<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width; initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
  <div class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-info"><%= title %></h1>
        <p>Welcome to <%= title %> Test file</p>
        <%= description %>
      </div>
    </div>
  </div>
</body>

</html>